@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.skills {
    background-color: $body-bg;
    border: 1px solid $black;
    border-radius: 25px;
    width: 80%;
    max-width: 65rem;
    height: 7rem;
    margin: auto;
    margin-top: -5rem;
}