@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.nav {
    padding: 2rem 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;

    &__link {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        
        @include mobile {
            display: none;
        }
    }
    &__image {
        width: 30%;
        text-align: end;
        padding: 0%;

        @include mobile {
            text-align: unset;
            width: unset;
        }
    }
}

.hamburger {
    // hamburger icon animation
// First Hamburger Line
&--close1 {
    transform: rotate(0);
}
&--first {
    transform: rotate(45deg);
}
// Second Hamburger Line
&--close2 {
    transform: translateX(0);
    opacity: 1;
}
&--second {
    opacity: 0;
    transform: translateX(20px);
}
// Third Hamburger Line
&--close3 {
    transform: rotate(0);
}
&--third {
    transform: rotate(-45deg);
}
}

.hamburger {
    display: none;

    @include mobile {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #383838;
        padding: 3rem;
        border-radius: 13px;
        z-index: 2;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &--button {
        display: none;

        @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 2rem;
            height: 2rem;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            z-index: 10;
        }

        &:focus {
            outline: none;
        }

        & div {
            width: 2rem;
            height: 0.25rem;
            background: $black;
            border-radius: 10px;
            transition: all 0.3s linear;
            position: relative;
            transform-origin: 1px;
        }
    }
    // Display none for when the menu is not clicked on
    &--none {
        display: none;
    }
}