@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.navlinks {
    @include page-header;
    text-decoration: none;
    color: $black;

    @include tablet {
        @include subheader;
    }

    &:hover {
        color: $font-header;
        transition: 0.5s;
    }
}